// Win32TreeViewExample_res.rc
// Copyright (C) 2018 Katayama Hirofumi MZ <katayama.hirofumi.mz@gmail.com>
// This file is public domain software (PDS).
#include <windows.h>
#include <commctrl.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 DIALOG 0, 0, 236, 219
CAPTION "Win32TreeViewExample"
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_DLGFRAME
FONT 9, "MS Shell Dlg"
{
    CONTROL "", ctl1, "SysTreeView32", TVS_SHOWSELALWAYS | TVS_DISABLEDRAGDROP | TVS_EDITLABELS | TVS_LINESATROOT | TVS_HASLINES | TVS_HASBUTTONS | WS_BORDER | WS_TABSTOP, 9, 11, 203, 136
    EDITTEXT edt1, 12, 163, 60, 14, ES_AUTOHSCROLL
    EDITTEXT edt2, 12, 182, 25, 14, ES_NUMBER
    PUSHBUTTON "&Add", psh1, 89, 163, 60, 14
    PUSHBUTTON "&Delete", psh2, 157, 163, 60, 14
    DEFPUSHBUTTON "OK", IDOK, 100, 200, 60, 14
}
